mixin header
  header
    nav
      h1.top_page_headding
        a(href='#')
          img(src='', alt='logo')
      ul.nav_list
        for item in resources.nav
          li.nav_list_item
            span
              | #{item.title}：
            if item.type === 'default'
              | #{item.value}
            else
              ul.nav_list_item_links
                for subItem in item.value
                  li.nav_list_item_links_item
                    a(href=subItem.link)
                      | #{subItem.title.main}
                      if subItem.title.sub
                        span
                          | (#{subItem.title.sub})
