include _header
include _sidebar

block vars

doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    link(rel="stylesheet" href="/css/style.css")
    title Anemone / #{title}
      
  body
    #loader-bg
      #loader
        img(src='', width='100', height='80', alt='Now Loading...')
        p Now Loading...
    #wrap
      .app
        .app-header
          +header
        .app-side
          +sidebar            
        .app-main
            block main
