mixin sidebar
  ul.sidebar_list
    for item in resources.sidebar
      if item.link
        li.sidebar_item
          a(href=item.link)
            | #{item.title}
          if item.sub
            ul.sidebar_chaild_list
              for chaild in item.sub
                il.sidebar_chaild_item
                  a(href=chaild.link)
                    | #{chaild.title}
                    if chaild.sub
                      ul.sidebar_child_list
                        for child in chaild.sub
                          li.sidebar_child_item
                            a(href=child.link)
                              | #{child.title}
      else
        li.sidebar_item #{item.title}
          if item.sub
            ul.sidebar_chaild_list
              for chaild in item.sub
                if chaild.link
                  li.sidebar_chaild_item
                    a(href=chaild.link)
                      | #{chaild.title}
                      if chaild.sub
                        ul.sidebar_child_list
                          for child in chaild.sub
                            li.sidebar_child_item
                              a(href=child.link)
                                | #{child.title}
                else
                  li.sidebar_chaild_item #{chaild.title}
                    if chaild.sub
                      ul.sidebar_child_list
                        for child in chaild.sub
                          li.sidebar_child_item
                            a(href=child.link)
                              | #{child.title}
