.section_wrapper {
  width: 1366px;
  margin: 0 auto;
  padding-bottom: 60px;

  &.last {
    padding-bottom: 0;
  }
}


.shop_contents {
  width: 1300px;
  margin-left: 50px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}


.contents {
  width: 1300px;
  margin-left: 50px;
  display: flex;
  justify-content: space-between;
  align-items: start;

  .contents_inner {
    width: 48%;

    &.down {
      margin-top: 35px;
    }
  }

  .news_post {
    width: 68%;
    height: 750px;
  }
  .news_post_setting {
    width: 28%;
    height: 750px;
  }
  .news_images {
    width: 68%;
  }
  .news_description {
    width: 28%;
  }
}

.btn-wrapper {
  margin-bottom: 50px;
}
