.shop_contents_box {
  width: 48%;
  display: inline-block;
  font-size: 0;

  &.left {
    margin-right: 4%;
  }

  .time_text {
    font-size: 14px;
    display: inline-block;
    margin-bottom: 10px;
    width: 57%;

    &_comp {
      color: $orange;
      margin-right: 15px;
    }
  }

  &_text {
    word-wrap: break-word;
    border: solid 1px $brack;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
  }
}




.shift_contents_box {
  width: 100%;
  tr {
    border: solid 1px $brack;
  }
  th {
    background-color: $table-th;
    color: $white;
    width: 5%;
    font-size: 16px;
  }
  td {
    font-size: 14px;
    padding: 10px 0 10px 5px;
    border-left: solid 1px $brack;
    text-align: left;

    &:nth-child(2) {
      width: 50%;
    }
    &:nth-child(3) {
      width: 30%;
    }
    &:nth-child(4) {
      width: 15%;
      background-color: $table-td-bg;
    }
  }
}



.btn_contents_box {
  font-size: 0;
}


.posting_contents_box {
  width: 100%;
  table-layout: fixed;
  tr {
    border: solid 1px $brack;
  }
  th {
    background-color: $table-th;
    color: $white;
    font-size: 16px;
    width: 33%;
    text-align: left;
  }
  td {
    font-size: 12px;
    border-left: solid 1px $brack;
    height: 30px;
    line-height: 30px;

    span {
      display: inline-block;
      width: 70%;
      box-sizing: border-box;
      padding: 0 5px;
      overflow-x: scroll;
      vertical-align: top;
      border-right: solid 1px $brack;
    }
  }
}


.deliver_contents_box {
  width: 100%;
  table-layout: fixed;
  tr {
    border: solid 1px $brack;
  }
  th {
    background-color: $table-th;
    color: $white;
    font-size: 16px;
    width: 33%;
    text-align: left;
  }
  td {
    font-size: 12px;
    border-left: solid 1px $brack;
    height: 30px;
    line-height: 30px;
    padding-left: 5px;
  }
}

.table_box {
  width: 100%;
  table-layout: fixed;
  tr {
    border: solid 1px $brack;
  }
  th {
    background-color: $table-th;
    color: $white;
    font-size: 16px;
    width: 10%;
    text-align: center;
  }
  td {
    font-size: 12px;
    border-left: solid 1px $brack;
    height: 30px;
    line-height: 30px;
    padding-left: 5px;
  }
  &_title {
    width: 60%;
  }
  &_link {
    background-color: $table-td-bg;
  }
}

.news_post_box {
  width: 100%;

  &_title,
  &_content {
    width: 99.5%;
    box-sizing: border-box;
    &_text {
      font-size: 14px;
      line-height: 30px;
    }
    &_box {
      width: 100%;
      border: 1px solid $brack;
    }
  }

  &_title {
    margin-bottom: 50px;
    &_box {
      height: 50px;
    }
  }

  &_content {
    &_box {
      resize: none;
      height: 500px;
    }
  }
}

.news_post_setting_box {
  width: 100%;

  .title {
    font-weight: bold;
    line-height: 30px;
  }

  &_date {
    margin-top: 20px;
    &_default,
    &_check {
      display: block;
      line-height: 30px;
    }

    .box {
      width: 70px;
      height: 30px;
      border: solid 1px $brack;
      margin-right: 5px;
      margin-bottom: 15px;
    }

    &_note {
      font-size: 15px;
      width: 80%;
      line-height: 20px;
      word-wrap: break-word;
      color: $red;
    }
  }

  &_status {
    margin-top: 20px;
    &_content {
      margin-left: 25px;
    }
  }

  &_release {
    margin-top: 20px;
    &_link {
      display: block;
      width: 80%;
      height: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: $orange;
    }
  }

  &_area {
    margin-top: 20px;
    &_default,
    &_member {
      display: block;
      margin-left: 25px;
      line-height: 30px;
    }
  }

  &_pleview {
    margin-top: 20px;
    &_link {
      position: relative;
      width: 80%;
      height: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: dotted 1px $blue;
      .container {
        position: relative;
      }
      &:before {
        display: block;
        position: absolute;
        background: $blue;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        content: "";
        transform-origin: left top;
        transform: scale(0, 1);
        transition: .3s;
      }
    }
  }

  &_desc {
    margin-top: 20px;
    width: 80%;
    font-size: 15px;
    line-height: 20px;
    word-wrap: break-word;
  }
}

.news_profile_box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
  &_retrieval {
    width: 48%;
    &_title {
      font-weight: bold;
      line-height: 30px;
    }
    &_text {
      line-height: 50px;
    }
    &_input {
      width: 200px;
      height: 30px;
      border: solid 1px $brack;
    }
    &_link {
      display: inline-block;
      width: 100px;
      height: 32px;
      line-height: 32px;
      background-color: $orange;
      text-align: center;
      vertical-align: middle;
      border: solid 1px $brack;
      border-left: none;
    }
    &_desc {
      font-size: 14px;
      margin-top: 10px;
    }
  }
  &_table {
    width: 48%;
    &_title {
      font-weight: bold;
      line-height: 30px;
    }
    &_contents {
      tr {
        border: solid 1px $table-td-bg;
        &:nth-child(odd) {
          background-color: $gray;
        }
        th {
          width: 10%;
          padding-right: 5px;
          text-align: right;
        }
        td {
          border-left: solid 1px $table-td-bg;
          height: 30px;
          line-height: 30px;
          padding-left: 5px;
        }
      }
    }
  }
}

.news_images_box {
  margin-top: 20px;
  &_title {
    font-size: 20px;
    line-height: 30px;
    &_sub {
      font-size: 14px;
    }
  }
  &_contents {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    border: solid 1px $brack;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &_item {
      width: 15%;
      box-sizing: border-box;
      padding: 50px 0;
      &-image {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
      }
      &-btn {
        display: block;
        box-sizing: border-box;
        width: 100%;
        height: 20px;
        text-align: center;
        line-height: 20px;
        background-color: $gray;
      }
    }

    &_resetbtn {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 200px;
      height: 20px;
      line-height: 20px;
      background-color: $gray;
      text-align: center;
    }
  }
}

.news_add_box {
  margin-top: 20px;
  &_title {
    font-weight: bold;
    line-height: 30px;
    &_sub {
      font-size: 12px;
      font-weight: normal;
      margin-left: 10px;
    }
  }
  &_contents {
    display: flex;
    align-items: flex-start;
    width: 100%;
    border: solid 1px $brack;
    box-sizing: border-box;
    &_image {
      padding: 30px 10px;
      width: 40%;
      background-color: $gray;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      &_item {
        width: 120px;
        height: 120px;
      }
      &_btns {
        height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        &_btn {
          display: block;
          width: 170px;
          height: 50px;
          border: solid 1px $brack;
          text-align: center;
          line-height: 50px;
          background-color: $orange;
        }
        &_resetbtn {
          display: block;
          width: 120px;
          height: 30px;
          border: solid 1px $brack;
          text-align: center;
          line-height: 30px;
          background-color: $white;
        }
      }
    }
    &_link {
      width: 60%;
      padding: 30px 20px;
      text-align: right;
      &_image {
        margin-bottom: 30px;
        &-text {
          width: 75%;
          height: 30px;
          border: solid 1px $brack;
        }
      }
      &_text {
        &-text {
          width: 75%;
          height: 50px;
          vertical-align: top;
          border: solid 1px $brack;
        }
      }
    }
  }
}

.news_description_box {
  width: 100%;
  height: 200px;
  box-sizing: border-box;
  padding: 40px 5px;

  &_text {
    width: 100%;
    padding: 30px 0;
    line-height: 20px;
  }
  &_images {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 150px;
    &-pc
     {
      width: 50%;
      height: 200px;
    }
    &-sp {
      width: 30%;
      height: 200px;
    }
  }
  &_code {
    word-wrap: break-word;
    line-height: 20px;

    &_main {
      margin-bottom: 10px;
    }
  }
}
