extends _layout

include _tool_btn

block vars
  - var title = "CAMPAIGN";
  
block main
  form 
  .section_wrapper
    .contents
      .campaign
        h2.shift_approval_headding  今まで製作したキャンペーン一覧
        .campaign_box
          p.box_title プロフィールが仮登録状態のキャンペーンの一覧です。それぞれの項目を確認してください。
          ul.box_list
            for item in resources.waitcastlist
              li.box_item
                p.number #{item.number}
                .textbox
                  for child in item.textbox
                    p.left #{child.left}
                    p.center #{child.center}
                    a(href="#").link #{child.link}
                    p.profile_text のプロフィール作成 >>
                a(href="#").reset_btn
                  p.btn_text 削除
                a(href="#").edit_btn
                  p.btn_text 編集
    .section_wrapper
      .contents
        .sokuhime_contents
          h2.shift_approval_headding  キャンペーン新規作成
          p.contents_main_text プロフィールが仮登録状態のキャスト一覧です。それぞれの項目を確認してください。※仮登録のプロフィール一覧は、事務所に紐づく店舗全てが表示されます。
          .top_contents_wrap
            .left_contents
              .sale_contents
                p.title 割引内容：
                input(type="text" name="").textbox
              .sale_name
                p.title 割引名称：
                input(type="text" name="").textbox
              .sale_condition
                p.title 割引適用条件：
                input(type="text" name="").textbox
              .sale_target
                p.title 割引対象：
                ul.form_list
                  li.form_item
                    label 
                      input(type="checkbox" name="").checkbox
                      | みなさま対象（例：即姫割）
                  li.form_item
                    label 
                      input(type="checkbox" name="").checkbox
                      | 新規のお客様
                  li.form_item
                    label 
                      input(type="checkbox" name="").checkbox
                      | 会員のお客様
                  li.form_item
                    label 
                      input(type="checkbox" name="").checkbox
                      | その他
                    input(type="text" name="").shortbox
              .sale_course
                p.title 割引内容コース：
                ul.form_list
                  li.form_item
                    label 
                      input(type="checkbox" name="")
                      | 60分　=>　
                    select(name="")
                      option(value="1000円")
                        | 1000円
                      option(value="2000円")
                        | 2000円
                      option(value="3000円")
                        | 3000円
                  li.form_item
                    label 
                      input(type="checkbox" name="")
                      | 75分　=>　
                    select(name="")
                      option(value="1000円")
                        | 1000円
                      option(value="2000円")
                        | 2000円
                      option(value="3000円")
                        | 3000円
                  li.form_item
                    label 
                      input(type="checkbox" name="")
                      | 90分　=>　
                    select(name="")
                      option(value="1000円")
                        | 1000円
                      option(value="2000円")
                        | 2000円
                      option(value="3000円")
                        | 3000円
                  li.form_item
                    label 
                      input(type="checkbox" name="")
                      | 120分　=>　
                    select(name="")
                      option(value="1000円")
                        | 1000円
                      option(value="2000円")
                        | 2000円
                      option(value="3000円")
                        | 3000円
                  li.form_item
                    label 
                      input(type="checkbox" name="")
                      | 180分　=>　
                    select(name="")
                      option(value="1000円")
                        | 1000円
                      option(value="2000円")
                        | 2000円
                      option(value="3000円")
                        | 3000円
              .trafic_sale
                p.title 交通費割引：
                ul.form_list
                  li.form_item
                    label 
                      input(type="checkbox" name="")
                      | 0円　エリア　=>　
                    select(name="")
                      option(value="1000円")
                        | 1000円
                      option(value="2000円")
                        | 2000円
                      option(value="3000円")
                        | 3000円
                  li.form_item
                    label 
                      input(type="checkbox" name="")
                      | 1000円　エリア　=>　
                    select(name="")
                      option(value="1000円")
                        | 1000円
                      option(value="2000円")
                        | 2000円
                      option(value="3000円")
                        | 3000円
                  li.form_item
                    label 
                      input(type="checkbox" name="")
                      | 2000円　エリア　=>　
                    select(name="")
                      option(value="1000円")
                        | 1000円
                      option(value="2000円")
                        | 2000円
                      option(value="3000円")
                        | 3000円
                  li.form_item
                    label 
                      input(type="checkbox" name="")
                      | 3000円　エリア　=>　
                    select(name="")
                      option(value="1000円")
                        | 1000円
                      option(value="2000円")
                        | 2000円
                      option(value="3000円")
                        | 3000円
                  li.form_item
                    label 
                      input(type="checkbox" name="")
                      | 4000円　エリア　=>　
                    select(name="")
                      option(value="1000円")
                        | 1000円
                      option(value="2000円")
                        | 2000円
                      option(value="3000円")
                        | 3000円
                  li.form_item
                    label 
                      input(type="checkbox" name="")
                      | 5000円　エリア　=>　
                    select(name="")
                      option(value="1000円")
                        | 1000円
                      option(value="2000円")
                        | 2000円
                      option(value="3000円")
                        | 3000円
                  li.form_item
                    select
                      option(value="6000円")
                        | 6000円
                      option(value="7000円")
                        | 7000円
                      option(value="8000円")
                        | 8000円
                    | 　エリア　=>　
                    select(name="")
                      option(value="1000円")
                        | 1000円
                      option(value="2000円")
                        | 2000円
                      option(value="3000円")
                        | 3000円
            .right_contents
              p.right_text キャンペーン画像の設定
                span ※キャストごとのイベント画像から選択　JPGのみ
              .img_box
                input(type="file" name="")
                button(type="submit") 画像をリセット
              .img_view_box
                p.box_text アップロードした画像：
                img(src="images/free2.jpg")
                p.box_sub_text ※画像の変更は、再度画像ファイルを選択してください。
                p.box_sub_text ※画像の掲載をやめる場合は、画像リセットを押してください。
                .img_link_box
                  p.link_box_text 画像のリンク先設定：
                  input(type="text" name="").textbox
              .name_price_box
                p.title 指名料割引：
                ul.form_list
                  li.form_item
                    label 
                      input(type="checkbox" name="")
                      | 写真指名　=>　
                    select(name="")
                      option(value="1000円")
                        | 1000円
                      option(value="2000円")
                        | 2000円
                      option(value="3000円")
                        | 3000円
                  li.form_item
                    label 
                      input(type="checkbox" name="")
                      | 本指名　=>　
                    select(name="")
                      option(value="1000円")
                        | 1000円
                      option(value="2000円")
                        | 2000円
                      option(value="3000円")
                        | 3000円
          .desc_contents
            p.desc_contents_text 説明文・テキストのみ(300文字以内)
            textarea
          .terminal_box
            p.box_title 掲載する端末の設定
            ul.terminal_list
              li.terminal_item
                label
                  input(type="checkbox" name="")
                  | 全体
              li.terminal_item
                label
                  input(type="checkbox" name="")
                  | 会員のみ
              li.terminal_item
                label
                  input(type="checkbox" name="")
                  | PCのみ
              li.terminal_item
                label
                  input(type="checkbox" name="")
                  | スマホのみ
          .bunner_box
            p.box_title バナー掲載設定
              span （キャンペーンには上記に設定したサムネイルとキャンペーン内容が自動的に掲載されます。バナー表示する場合のみ設定してください。）
            .bunner_img_box
              input(type="file")
              button(type="reset") >>画像を削除する
            ul.bunner_check_box
              li.bunner_check_item
                label
                  input(type="checkbox" name="")
                  | トップページ
              li.bunner_check_item
                label
                  input(type="checkbox" name="")
                  | サイドバー
              li.bunner_check_item
                label
                  input(type="checkbox" name="")
                  | 本日の出勤表
              li.bunner_check_item
                label
                  input(type="checkbox" name="")
                  | 新人キャスト
              li.bunner_check_item
                label
                  input(type="checkbox" name="")
                  | キャスト一覧
              li.bunner_check_item
                label
                  input(type="checkbox" name="")
                  | ▼ページ選択
          .display-period_box
            p.box_title 表示期間の選択
            .top_area
              label
                input(type="checkbox" name="")
                | 期限なし(無期限表示)
              label
                input(type="checkbox" name="")
                | 非表示にする(入力内容はほじされたまま、下書き状態になり、一般公開はされません)
            .bottom_area
              label
                input(type="checkbox" name="")
                | 表示期間指定：2018年
                input(tyep="text" name="").tb
                | 月
                input(tyep="text" name="").tb
                | 日
                input(tyep="text" name="").tb
                | 時　〜　2018年
                input(tyep="text" name="").tb
                | 月
                input(tyep="text" name="").tb
                | 日
                input(tyep="text" name="").tb
                | 時　まで
              p.sub_text ※表示期間を設定されるとその期間しかこの内容は表示されませんので、ご注意ください。日付が過去になっている場合も同様です。
          .button_box
            button(type="submit").left プレビューを見る
            button(type="submit").right 入力内容を投稿する
              span 期間が設定されている場合は、その時間に投稿されます。
