extends _layout

include _tool_btn

block vars
  - var title = "DATABASE";
  
block main
  form 
    .section_wrapper
      .contents
        .cast_database
          h2.shift_approval_headding 面接キャストデータベース
          .setting_are
            .cast_serch_area
              p.direct_shift_serach キャスト名検索　本名　ひらがなで検索ができます。
              .serch_box
                p.text キャスト名：
                input(type="text" name="")
                button(type="submit") 検索
              .search_results
                p.results_text 検索ワード"ゆり"に該当するプロフィールが3件見つかりました。
                a(href="#").results_btn 「栗生もも子」のデータベース
    .section_wrapper
      .contents
        .cast_work
          .top_area
            p.title 直近の面接日から表示
          .cast_database_box
            ul.cast_database_list
              for item in resources.castdatabase
                li.cast_database_item
                  p.name #{item.name}
                  img(src=item.img)
                  p.days #{item.days}
                  a(href="#").more 詳細を見る
            .pagenav
              p.text 全350件
                span 1~20件を表示
              ul.navlist
                li.navitem
                  a(href="#")
                    p <
                li.navitem
                  a(href="#")
                    p 2
                li.navitem
                  a(href="#")
                    p 3
                li.navitem
                  a(href="#")
                    p 4
                li.navitem
                  a(href="#")
                    p 5
                li.navitem
                  a(href="#")
                    p 6
                li.navitem
                  a(href="#")
                    p >
