extends _layout

include _tool_btn

block vars
  - var title = "HOMEPAGEEDIT";
  
block main
  form 
    .section_wrapper
      .contents
        .homepage_edit
          h2.shift_approval_headding ホームページ・タイムラインの編集
          .homepage_edit_box
            h3.box_title 次のシフトの承認を編集して、承認します。
            .box_time
              p.time_text 2018年8月14日（火曜）13:00~24:00 完全終了
              p.time_desc 備考：この日は、世田谷の自宅まで送りをお願いしたいです。
    .section_wrapper
      .contents
        .homepage_timebox
          h2.shift_approval_headding 出勤時間の表示設定・タイムラインの予定・備考追加
          .work_time_box
            .homepage_work_time
              h3.title ホームページ出勤時間：2019年
              .time_textbox
                input(type="text" name="")
                | 月
                input(type="text" name="")
                | 日
                input(type="text" name="")
                | 時
                input(type="text" name="")
                | 分　〜
                input(type="text" name="")
                | 時
                input(type="text" name="")
                | 分
            .timeline_work_time
              h3.title タイムライン出勤時間：2019年
              .time_textbox
                input(type="text" name="")
                | 月
                input(type="text" name="")
                | 日
                input(type="text" name="")
                | 時
                input(type="text" name="")
                | 分　〜
                input(type="text" name="")
                | 時
                input(type="text" name="")
                | 分
            .work_day_box
              h3.title 出勤日の備考
                br
                | (タイムラインの「注１」部分に入ります)
              textarea
            .timeline_plans
              h3.title タイムラインに予定を追加
              select(name="")
                option(value="項目1") 項目1
                option(value="項目2") 項目2
                option(value="項目3") 項目3
              a(href="#").plans_btn
                p.btn_text 入力フォームを表示
            .work_day_desc
              a(href="#").reject_btn
                p.btn_text ✖️
                  br
                  | 削除
              h3.title 初出勤の説明など
              .textbox
                input(type="text" name="")
                | 月
                input(type="text" name="")
                | 日
                input(type="text" name="")
                | 時
                input(type="text" name="")
                | 分　〜
                select(name="")
                  option(value="15") ▼15分
                  option(value="30") ▼30分
                  option(value="45") ▼45分
                  option(value="60") ▼60分
                | 分間
            .photo
              a(href="#").reject_btn
                p.btn_text ✖️
                  br
                  | 削除
              h3.title 撮影等の入力
                br
                | (撮影の項目を追加)
              .photo_textbox
                .top_area
                  p.text 撮影内容を選択：
                  select(name="")
                    option(value="項目1") 項目1
                    option(value="項目2") 項目2
                    option(value="項目3") 項目3
                .bottom_area
                  input(type="text" name="")
                  | 月
                  input(type="text" name="")
                  | 日
                  input(type="text" name="")
                  | 時
                  input(type="text" name="")
                  | 分　〜
                  select(name="")
                    option(value="15") ▼15分
                    option(value="30") ▼30分
                    option(value="45") ▼45分
                    option(value="60") ▼60分
                  | 分間
            .baggage
              a(href="#").reject_btn
                p.btn_text ✖️
                  br
                  | 削除
              h3.title 荷物
              .textbox
                input(type="text" name="")
                | 月
                input(type="text" name="")
                | 日
                input(type="text" name="")
                | 時
                input(type="text" name="")
                | 分　〜
                select(name="")
                  option(value="15") ▼15分
                  option(value="30") ▼30分
                  option(value="45") ▼45分
                  option(value="60") ▼60分
                | 分間
            .functions
              a(href="#").reject_btn
                p.btn_text ✖️
                  br
                  | 削除
              h3.title 機能名を入力
              .textbox
                input(type="text" name="")
                | 月
                input(type="text" name="")
                | 日
                input(type="text" name="")
                | 時
                input(type="text" name="")
                | 分　〜
                select(name="")
                  option(value="15") ▼15分
                  option(value="30") ▼30分
                  option(value="45") ▼45分
                  option(value="60") ▼60分
                | 分間
          button(type="submit") この内容で登録、シフト承認を実施
