doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    link(rel="stylesheet" href="/css/style.css")
    title Anemone / Login
  body
    #loader-bg
    #loader
      img(src='', width='100', height='80', alt='Now Loading...')
      p Now Loading...
    #wrap
      .login_contents
        h1.login_headding %%総合名称%%　管理ログイン
        form.login_form(action='index.html', method='post')
          .login_form_id
            label.login_form_id_label.label ログインID
            input.login_form_id_box.box(type='text', name='', value='')
          label.touch_area
            input(type='checkbox', name='', value='')
            | ログインIDをブラウザに保存する
          .login_form_pass
            label.login_form_pass_label.label パスワード
            input.login_form_pass_box.box(type='text', name='', value='')
          label.touch_area
            input(type='checkbox', name='', value='')
            | パスワードをブラウザに保存する
        // <button class="top_login_btn" type="submit" name="" value="login">ログイン</button>
        a.top_login_btn(href='top-page.html') ログイン
