extends _layout

include _tool_btn

block vars
  - var title = "MONEY_TOP";
  
block main
  form 
  .section_wrapper
    .contents
      .money_03_01
        h2.shift_approval_headding  レジ金を設定
        ul.money_03_01_list
          li
            p.title グループ
            p アネモネグループ
        p.money_03_01_txt
          a(href="") 事務所単位の日報から編集
        table
          tr
            th
              p 事務所の名称
            th
              p 店舗
            th
              p 直近3日間の日報（営業終了後のもの）
          tr
            td
              p アネモネ渋谷事務所
            td
              p Anemone渋谷店、Anemone新宿店、宝石、ブラックライン、Letice(レティス)六本木店、ALDO(アルド)恵比寿
            td
              p
                a(href="#") 2019/01/03の売上
                | |
                a(href="#") 2019/01/04の売上
                | |
                a(href="#") 2019/01/05の売上
          tr
            td
              p アネモネ五反田事務所
            td
              p Anemone銀座店、Anemone品川店、Velluge(ヴェルージュ)丸の内店、LUCIO(ルチオ)西麻布
            td
              p
                a(href="#") 2019/01/03の売上
                | |
                a(href="#") 2019/01/04の売上
                | |
                a(href="#") 2019/01/05の売上
        p.money_03_01_txt
          a(href="") 店舗、またはを選択して集計作業を行う
        ul.money_03_01_list
          li
            p.title 事務所から選ぶ
            select(name="")
              option(value="項目1")
                | 項目1
              option(value="項目2")
                | 項目2
              option(value="項目3")
                | 項目3
          li
            p.title 店舗ごとに選択する
            p 
              input(type="checkbox" name="")
              label 店舗ごとにレジ金を選択する場合は、事務所を選択せず、チェックを入れてください。
        p.money_03_01_txt_sub 店舗ごとに選択するにチェックを入れると編集を許可されているグループないの店舗が全て表示される。
        .select_box
          p.title
            label
              input(type="checkbox" name="")
              | 全てを選択
          ul.money_03_01_select
            for item in resources.Money01List
              li
                label
                  input(type="checkbox" name="")
                  | #{item.text}
        p.money_03_01_txt_gray 上記で選択した店舗で該当する項目を選んでください。
        .ck_box
          .left
            label
              input(type="checkbox" name="")
              | 月報を確認（出力のみ）
          .right
            label
              input(type="checkbox" name="")
              | 日報を編集
        p.money_03_01_txt_gray 出力する月報を選択してください。
        ul.mt_box
          for item in resources.MtBoxList
            li
              p #{item.text}
        p.money_03_01_txt_gray 月報の出力設定を選択してください。
        .op_box
          .left
            p.op_box_txt 出力条件：詳細を含める（時間がかかる場合があります）
            .ck
              label
                input(type="checkbox" name="")
                | 売上・経費等の詳細（1件ずつ記載）
          .right
            p.op_box_txt 出力条件：次の項目を含める
            .ck_wrap
              .ck
                label
                  input(type="checkbox" name="")
                  | 入出金管理の項目
              .ck
                label
                  input(type="checkbox" name="")
                  | キャスト広告費の項目
        button(type="submit") この条件で月報を出力する
        p.button_txt ※入出金の件数によって時間がかかる場合があります。
        .on_click
          p.money_03_01_txt_gray 上記で選択した店舗で該当する項目を選んでください。
          .ck_box
            .left
              label
                input(type="checkbox" name="")
                | 月報を編集
            .right
              label
                input(type="checkbox" name="")
                | 日報を編集
          p.money_03_01_txt_gray 編集する日報を選択してください。
          .days_list
            .year
              select(name="")
                option(disabled selected value)
                  | 数字をプルダウン(年)
                option(value="2019")
                  | 2019
                option(value="2018")
                  | 2018
                option(value="2017")
                  | 2017
              label 年
            .month
              select(name="")
                option(disabled selected value)
                  | 数字をプルダウン(月)
                option(value="1")
                  | 1
                option(value="2")
                  | 2
                option(value="3")
                  | 3
                option(value="4")
                  | 4
                option(value="5")
                  | 5
                option(value="6")
                  | 6
                option(value="7")
                  | 7
                option(value="8")
                  | 8
                option(value="9")
                  | 9
                option(value="10")
                  | 10
                option(value="11")
                  | 11
                option(value="12")
                  | 12
              label 月
            .days
              select(name="")
                option(disabled selected value)
                  | 数字をプルダウン(日)
                option(value="1")
                  | 1
                option(value="2")
                  | 2
                option(value="3")
                  | 3
                option(value="4")
                  | 4
                option(value="5")
                  | 5
                option(value="6")
                  | 6
                option(value="7")
                  | 7
                option(value="8")
                  | 8
                option(value="9")
                  | 9
                option(value="10")
                  | 10
                option(value="11")
                  | 11
                option(value="12")
                  | 12
                option(value="13")
                  | 13
                option(value="14")
                  | 14
                option(value="15")
                  | 15
                option(value="16")
                  | 16
                option(value="17")
                  | 17
                option(value="18")
                  | 18
                option(value="19")
                  | 19
                option(value="20")
                  | 20
                option(value="21")
                  | 21
                option(value="22")
                  | 22
                option(value="23")
                  | 23
                option(value="24")
                  | 24
                option(value="25")
                  | 25
                option(value="26")
                  | 26
                option(value="27")
                  | 27
                option(value="28")
                  | 28
                option(value="29")
                  | 29
                option(value="30")
                  | 30
                option(value="31")
                  | 31
              label 日
            p.days_list_txt の日報
          button(type="submit") 上記の条件で出力して編集する
          p.button_txt ※入出金の件数によって時間がかかる場合があります。
          
