extends _layout

include _tool_btn

block vars
  - var title = "MONEY_TOP";
  
block main
  form 
  .section_wrapper
    .contents
      .money_01_01
        h2.shift_approval_headding  売上管理（経理機能）
        .money_01_01_txt このアカウントでは次の店舗の売上を編集する事ができます。
        ul.money_01_01_list
          for item in resources.Money01List
            li.money_01.item #{item.text}
    .section_wrapper
      .contents
        .money_01_02
          h2.shift_approval_headding  レジ金設定一覧
          .money_01_02_txt 現在2事務所が登録されています（1ページ中/1ページ目）
          .setting_box
            p 一括操作
            .arrow_box
              p ▲
              p ▼
            a(href="#").link 適用
          table
            tr
              th
                input(type="checkbox" name="")
              th
                p 事務所の名称
              th
                p 店舗
              th
                p レジ金
              th
                p 編集
            tr
              td
                input(type="checkbox" name="")
              td
                p アネモネ渋谷事務所
              td
                p Anemone渋谷店、Anemone新宿店、宝石、ブラックライン、Letice(レティス)六本木店
              td
                p ¥200,000
              td
                a(href="#") 編集
            tr
              td
                input(type="checkbox" name="")
              td
                p アネモネ五反田事務所
              td
                p Anemone銀座店、Anemone品川店、Velluge(ヴェルージュ)丸の内店、LUCIO(ルチオ)
              td
                p ¥200,000
              td
                a(href="#") 編集
          .links_box
            .left
              .title
                p 入出金管理
                a(href="#") 新規登録
              .content
                p 経理担当者が行う毎月の振込・経費などの出金・入金などの入力が簡単に行えます。
                a(href="") >>入出金管理へ
            .right
              .title
                p キャスト広告費管理
                a(href="#") 紹介者一覧
              .content
                p 現在5名の紹介者が登録されています。
                a(href="") >>キャスト広告費管理へ
    .section_wrapper
      .contents
        .money_01_03
          h2.shift_approval_headding  売上金の計算
          p.money_01_03_txt
            a(href="") 事務所単位の日報から編集
          table
            tr
              th
                p 事務所の名称
              th
                p 店舗
              th
                p 直近3日間の日報（営業終了後のもの）
            tr
              td
                p アネモネ渋谷事務所
              td
                p Anemone渋谷店、Anemone新宿店、宝石、ブラックライン、Letice(レティス)六本木店、ALDO(アルド)恵比寿
              td
                p
                  a(href="#") 2019/01/03の売上
                  | |
                  a(href="#") 2019/01/04の売上
                  | |
                  a(href="#") 2019/01/05の売上
            tr
              td
                p アネモネ五反田事務所
              td
                p Anemone銀座店、Anemone品川店、Velluge(ヴェルージュ)丸の内店、LUCIO(ルチオ)西麻布
              td
                p
                  a(href="#") 2019/01/03の売上
                  | |
                  a(href="#") 2019/01/04の売上
                  | |
                  a(href="#") 2019/01/05の売上
