extends _layout

include _tool_btn

block vars
  - var title = "MONEY_TOP";
  
block main
  form 
  .section_wrapper
    .contents
      .money_02_01
        h2.shift_approval_headding  レジ金を設定
        ul.money_02_01_list
          li
            p.title グループ
            p アネモネグループ
          li
            p.title 事務所から選ぶ
            select(name="")
              option(value="項目1")
                | 項目1
              option(value="項目2")
                | 項目2
              option(value="項目3")
                | 項目3
          li
            p.title 店舗ごとに選択する
            p 
              input(type="checkbox" name="")
              label 店舗ごとにレジ金を選択する場合は、事務所を選択せず、チェックを入れてください。
        p.money_02_01_txt 店舗ごとに選択するにチェックを入れると編集を許可されているグループないの店舗が全て表示される。
        .select_box
          p.title
            label
              input(type="checkbox" name="")
              | 全てを選択
          ul.money_02_01_select
            for item in resources.Money01List
              li.money_01.item 
                label
                  input(type="checkbox" name="")
                  | #{item.text}
        .money_box
          p レジ金
          input(type="text" name="")
          label 円
        button(type="submit") 登録
  .section_wrapper
    .contents
      .money_02_02
        h2.shift_approval_headding  レジ金設定一覧
        .money_02_02_txt 現在2事務所が登録されています（1ページ中/1ページ目）
        .setting_box
          p 一括操作
          .arrow_box
            p ▲
            p ▼
          a(href="#").link 適用
        table
          tr
            th
              input(type="checkbox" name="")
            th
              p 事務所の名称
            th
              p 店舗
            th
              p レジ金
            th
              p 編集/一時的な増枠等
          tr
            td
              input(type="checkbox" name="")
            td
              p アネモネ渋谷事務所
            td
              p Anemone渋谷店、Anemone新宿店、宝石、ブラックライン、Letice(レティス)六本木店
            td
              p ¥200,000
            td
              a(href="#") 編集
          tr
            td
              input(type="checkbox" name="")
            td
              p アネモネ五反田事務所
            td
              p Anemone銀座店、Anemone品川店、Velluge(ヴェルージュ)丸の内店、LUCIO(ルチオ)
            td
              p ¥200,000
            td
              a(href="#") 編集
        
