extends _layout

include _tool_btn

block vars
  - var title = "PICKUP";
  
block main
  form 
    .section_wrapper
      .contents
        .pickup
          h2.shift_approval_headding おすすめ・ピックアップ設定
          .text_box
            p.pickup_text 現在、●●名のキャストがピックアップに登録されています。
            a(href="now-pickup-page.html") >>確認する（次項の現在ピックアップキャスト一覧へ）
          .btn_box
            a(href="#").left
              p.button_text >>　トップページのピックアップ設定はこちら
            a(href="#").right
              p.button_text >>　ランキングの設定はこちら
          h3.setting_title ピックアップの設定
          .setting_are
            .cast_serch_area
              p.direct_shift_serach 在籍キャストから選択・キャスト名を検索
              .serch_box
                p.text キャスト名：
                input(type="text" name="")
                button(type="submit") 検索
              .search_results
                p.results_text 検索ワード"ゆり"に該当するプロフィールが3件見つかりました。
                ul.results_list
                  for item in resources.serchresultslist
                    li.resultts_item(class=item.class) #{item.text}
                p.sub_text ※表示された当該キャストを選択すると、シフト直接入力画面が表示されます。
            .setting_cast_box
              .img_box
                p.top_text ％％源氏名％％
                img(src="images/free.jpeg")
                p.bottom_text 直近出勤日：2018年●月●日
              .text_box
                p.title ピックアップ表示期間
                .check_box
                  label
                    input(type="checkbox" name="")
                    | 無期限
                  label
                    input(type="checkbox" name="")
                    | 12時間
                  label
                    input(type="checkbox" name="")
                    | 1日(24時間)
                  label
                    input(type="checkbox" name="")
                    | 2日(48時間)
                p.title 表示期間設定
                .text_form_box.top
                  label 2018年
                  input(type="text" name="")
                  | 月
                  input(type="text" name="")
                  | 日
                  input(type="text" name="")
                  | 時
                .text_form_box.bottom
                  label 2018年
                  input(type="text" name="")
                  | 月
                  input(type="text" name="")
                  | 日
                  input(type="text" name="")
                  | 時
                button(type="submit") ピックアップの設定
    .section_wrapper
      .contents
        .cast_work
          .top_area
            p.title 2018年●月●日(月)の出勤キャスト
            a(href="now-pickup-page.html")
              p.button_text 現在のピックアップ一覧
          .cast_work_box
            p.text ◾️　明日以降の出勤から選ぶ
            ul.days_list
              li.day 2018年●月●日(火)
              li.day 2018年●月●日(水)
              li.day 2018年●月●日(木)
              li.day 2018年●月●日(金)
              li.day 2018年●月●日(土)
            ul.cast_img_list
              for item in resources.castimg
                li.cast_img_item
                  p.name #{item.name}
                  img(src=item.img)
                  p.days #{item.days}
