extends _layout

include _tool_btn

block vars
  - var title = "SHIFTHOLD";
  
block main
  form 
    .section_wrapper
      .contents
        .shift_hold
          h2.shift_approval_headding ＄源氏名＄のシフト承認保留
          .shift_hold_box
            .box_time
              p.time_text 2018年8月14日（火曜）13:00~24:00 完全終了
              p.time_desc 備考：この日は、世田谷の自宅まで送りをお願いしたいです。
            p.box_desc 次のシフトの承認を保留するために、＄源氏名＄に確認事項としてメールを送信します。
            .cast_mail_box
              .textbox
                p.title 件名
                input(type="text" name="")
              .textarea
                p.title メールを送信
                textarea
            .btn_box
              label.shift_check
                input(type="checkbox" name="")
                | このシフトを保留状態にして
              button(type="submit").hidden_btn シフト承認拒否・非表示登録する
