//- extends _layout
//- 
//- include _tool_btn
//- 
//- block vars
//-   - var title = "TIMELINE";
//- 
//- block main
//-   form 
//-   .section_wrapper
//-     .contents
//-       .timeline
//-         p.now_time 現在時刻：2018年08月11日　15時00分
//-         p.sitemap ＞ 新規予約を作成 ＞ 顧客 ＞ 顧客新規登録 ＞ データ ＞ 設定
//-           span 通知エリア
//-           span 通知エリア
//-           span 通知エリア
//-           span 通知エリア
//-           span 通知エリア
//-           span 通知エリア
//-           span 通知エリア
//-           span 通知エリア
//-         .times_btn_wrap
//-           .times_btn_box
//-             a(href="#").left
//-               p.btn_text <<前日：24時間前
//-             a(href="#").middle
//-               p.btn_text 現在時刻
//-             a(href="#").right
//-               p.btn_text <<翌日：24時間前
//-           .days_box
//-             p.title 日付選択：
//-             p.content 📅　2018/08/11
//-         .min_times_btn_wrap
//-           a(href="#")
//-             p.btn_text << -10時間ボタン
//-           a(href="#")
//-             p.btn_text << -5時間ボタン
//-           a(href="#")
//-             p.btn_text << -2時間ボタン
//-           a(href="#")
//-             p.btn_text << -1時間ボタン
//-           a(href="#")
//-             p.btn_text << +1時間ボタン
//-           a(href="#")
//-             p.btn_text << +2時間ボタン
//-           a(href="#")
//-             p.btn_text << +5時間ボタン
//-           a(href="#")
//-             p.btn_text << +10時間ボタン
//-         .time_area_box
//-           p.time_area_box_time Time Line 2018/08/11(土曜)14:30 ~ 2018/08/11(土曜)20:30
//-           p.time_area_box_text 現在の表示
//-           select(name="")
//-             option(value="アネモネ渋谷店") アネモネ渋谷店
//-             option(value="アネモネ新宿店") アネモネ新宿店
//-             option(value="アネモネ品川店") アネモネ品川店
//-         ul.status_box
//-           li.status_item 出勤中
//-           li.status_item 事前予約
//-           li.status_item 仮予約
//-             br
//-             | 確電前日済
//-             li.status_item 確電1時間前済・
//-               br
//-               | 来店プレイ待ち
//-           li.status_item スタート済
//-           li.status_item ドライバー
//-           li.status_item 完全終了
//-           li.status_item 荷物
//-           li.status_item 姫予約
//-           li.status_item_link
//-             a(href="#").link_text (※1)
//-               br
//-               | 設定
//-         .timeline_content
//-           ul.content_list
//-             li.content_item ソート
//-             li.content_item
//-             li.content_item Cast Name
//-             li.content_item (!)
//-             li.content_item 配車用
//-             li.content_item
//-               p.first 15:00
//-               p.second 16:00
//-               p.third 17:00
//-               p.four 18:00
//-               p.five 19:00
//-               p.six 20:00
//-           ul.timeline_list
//-             for item in resources.timelinelist
//-               li.time_line_item
//-                 p.sourt
//-                 p.status
//-                 p.name
//-                 p.function
//-                 p.car
//-                 ul.times_map
//-                   for child in item.timeline
//-                     li.times_map_box
//- 
