extends _layout

include _tool_btn

block vars
  - var title = "TOP";

block main
  .section_wrapper
    section.shop_contents
      .shop_contents_box.left
        h2.shop_headding グループ店舗全体への連絡帳
        p.time_text
          span.time_text_comp 保存しました。
          span.time_text_last 最終編集時間：
          |  2018/08/04 04:22
        p.shop_contents_box_text= "X".repeat(500)
      .shop_contents_box.right
        h2.shop_headding 店舗毎の業務の引き継ぎ
        p.time_text
          span.time_text_comp 保存しました。
          span.time_text_last 最終編集時間：
          | 2018/08/04 04:22
        p.shop_contents_box_text= "X".repeat(500)
  .section_wrapper
    .contents
      section.contents_inner
        h2.shift_headding
          | キャストのシフト申請
          span (最大10件表示)
        a.shift_btn(href='#') シフト申請一覧ページ
        table.shift_contents_box
          tbody
            for item, index in resources.shiftApplication
              tr
                th= index+1
                td= item.title 
                td= item.date
                td
                  a(href=item.link) 確認する
      section.contents_inner
        h2.btn_contents_headding.long 業務ツールの起動
        ul.btn_contents_box
          li.btn_contents_box_item
            +tool_btn(href="#").blue
              +tool_btn-title
                | メール起動
              +tool_btn-count
                | 未読メール：21件
          li.btn_contents_box_item
            +tool_btn(href="#").blue
              +tool_btn-title
                | タイムライン起動
          li.btn_contents_box_item
            +tool_btn(href="#").blue
              +tool_btn-title
                | 業務カレンダー起動
              +tool_btn-count
                | 直近の日程：14時30分　面接
          li.btn_contents_box_item
            +tool_btn(href="#").blue
              +tool_btn-title
                | ドキュメント管理
  .section_wrapper
    .contents
      section.contents_inner
        h2.btn_contents_headding キャスト管理
        ul.btn_contents_box
          li.btn_contents_box_item
            +tool_btn(href="#").pink
              +tool_btn-title
                | キャスト登録
              +tool_btn-count
                | 現在登録まちキャスト：3件あり
          li.btn_contents_box_item
            +tool_btn(href="#").pink
              +tool_btn-title
                | キャストプロフィール編集
              +tool_btn-count
                | 登録キャストの宣材や情報を編集
      section.contents_inner
        h2.btn_contents_headding コンテンツ管理
        ul.btn_contents_box
          li.btn_contents_box_item
            +tool_btn(href="#").green
              +tool_btn-title
                | 写メ日記一覧
              +tool_btn-count
                | 本日の写メ日記投稿件数：6件
          li.btn_contents_box_item
            +tool_btn(href="#").green
              +tool_btn-title
                | メッセージ管理
              +tool_btn-count
                | キャスト ⇔ 顧客とのやり取り設定
  .section_wrapper
    .contents
      section.contents_inner
        h2.btn_contents_headding サイトの更新
        ul.btn_contents_box
          li.btn_contents_box_item
            +tool_btn(href="#").orange
              +tool_btn-title
                | 即姫を設定する
              +tool_btn-count
                | 本日の出勤：32名
          li.btn_contents_box_item
            +tool_btn(href="#").orange
              +tool_btn-title
                | ニュースを投稿する
              +tool_btn-count
                | 最終更新日：2018/08/04 12:58
      section.contents_inner.down
        ul.btn_contents_box
          li.btn_contents_box_item
            +tool_btn(href="#").orange
              +tool_btn-title
                | キャンペーンの設定
              +tool_btn-count
                | 現在、○件のキャンペーンを開催中
          li.btn_contents_box_item
            +tool_btn(href="#").orange
              +tool_btn-title
                | ピックアップの設定
              +tool_btn-count
                |  選択したキャストの露出を増やす
  .section_wrapper.last
    .contents
      section.contents_inner
        h2.table_headding
          span.table_headding_main 掲載広告一覧
            span.table_headding_sub (昇順：5件表示)
        table.posting_contents_box
          tbody
            tr
              th 媒体名
              th ID
              th パスワード
            for item in resources.posting
              tr
                td
                  span= item.title
                  a(href=item.link) 【開く】
                td
                  span= item.id
                  | コピー
                td
                  span= item.pass
                  | コピー
        .posting_more
          a.posting_more_btn(href='#') 続きを表示する
      section.contents_inner
        h2.table_headding
          span.table_headding_main メルマガ配信一覧
            span.table_headding_sub (昇順：5件表示)
        table.deliver_contents_box
          tbody
            tr
              th タイトル
              th 配信時間（予定も含む）
              th 配信数
              for item in resources.deliver
                tr
                  td= item.title
                  td
                    | #{item.date.main}
                    if item.date.sub
                      span (#{item.date.sub})
                  td #{resources.values.deliverStatus[item.status]}：#{item.comp}件
        .deliver_ad
          a.deliver_ad_btn(href='#') メールマガジンの配信
