.shift_guide {
  width: 100%;
  .table_text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    .main {
      font-size: 18px;
      font-weight: bold;
    }
    .link {
      font-size: 15px;
      color: #EAAD24;
    }
    .sub {
      font-size: 15px;
    }
  }
  .shift_guide_box {
    width: 100%;
    height: 185px;
    display: flex;
    flex-flow: column wrap;
    li {
      width: 48%;
      height: 35px;
      border-top: 1px solid #000;
      border-left: 1px solid #000;
      border-right: 1px solid #000;
      display: flex;
      flex-direction: row;
      align-items: center;
      &:nth-child(-n + 6) {
        margin-right: 4%;
      }
      &:nth-child(5) {
        border-bottom: 1px solid #000;
      }
      &:last-child {
        border-bottom: 1px solid #000;
      }
      p {
        width: 10%;
        line-height: 35px;
        border-right: 1px solid #000;
        text-align: center;
        background-color: #D8D2D2;
      }
      .shift_guide_link {
        width: 20%;
        line-height: 35px;
        border-right: none;
        text-align: center;
        background-color: #E3B5DE;
        &.current {
          background-color: #D9D9D9;
        }
      }
      .shift_guide_title {
        width: 70%;
        background-color: #fff;
      }
    }
  }
}


.shift_approval {
  width: 100%;
  .approval_cast {
    .top {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 50px;
      .name {
        width: 40%;
        .sub {
          margin-bottom: 15px;
          font-weight: bold;
        }
        .main {
          font-size: 20px;
        }
      }
      .rank {
        width: 30%;
        .sub {
          margin-bottom: 15px;
          font-weight: bold;
        }
        .main {
          font-size: 20px;
        }
      }
      .days {
        width: 30%;
        .sub {
          margin-bottom: 15px;
          font-weight: bold;
        }
        .main {
          font-size: 18px;
        }
      }
    }
    .middle {
      margin-bottom: 50px;
      .desc {
        .sub {
          font-weight: bold;
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-bottom: 15px;
          span {
            font-weight: lighter;
            margin-left: 20px;
            color: $red;
          }
        }
        .main {
          font-size: 20px;
        }
      }
    }
    .bottom {
      .now {
        .sub {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-bottom: 15px;
          .text {
            margin-right: 25%;
            font-weight: bold;
          }
          .now_form {
            font-size: 18px;
            display: flex;
            flex-direction: row;
            align-items: center;
          }
        }
        .main {
          font-size: 12px;
        }
      }
    }
  }
}


.shift_list_box {
  width: 100%;
  .shift_list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    .shift_item {
      width: 100%;
      &:not(:last-child) {
        margin-bottom: 50px;
      }
      .item_title {
        font-size: 20px;
        margin-bottom: 15px;
      }
      .item_box {
        display: flex;
        flex-direction: row;
        align-items: center;
        border: 1px solid #000;
        box-sizing: border-box;
        padding: 20px 0px;
        position: relative;
        input {
          width: 5%;
        }
        .middle_contents {
          width: 60%;
          margin-right: 2%;
          .days {
            width: 80%;
            font-size: 20px;
            font-weight: bold;
            background-color: #E3B5DE;
            text-align: center;
            line-height: 50px;
            margin-bottom: 10px;
          }
          .desc {
            margin-bottom: 30px;
            span {
              color: $red;
            }
          }
          .link {
            display: block;
            width: 65%;
            box-sizing: border-box;
            border: 1px solid #000;
            border-bottom: none;
            padding: 10px;
          }
          .form_box {
            border: 1px solid #000;
            box-sizing: border-box;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .time {
              margin-bottom: 5px;
              label {
                margin-right: 5px;
              }
              input {
                height: 40px;
                width: 100px;
                background-color: #D8D2D2;
                border: none;
                margin-right: 10px;
              }
            }
            .comment {
              margin-bottom: 5px;
              display: flex;
              flex-direction: row;
              align-items: center;
              select {
                width: 150px;
                height: 40px;
                font-size: 18px;
                background-color: #D8D2D2;
                border: none;
                margin-right: 20px;
              }
              input {
                height: 40px;
                width: 300px;
                overflow: scroll;
                background-color: #D8D2D2;
                border: none;
              }
              button {
                width: 100px;
                height: 42px;
                font-size: 20px;
                background-color: $orange;
              }
            }
            .support_text {
              align-self: flex-end;
              font-size: 18px;
              margin-bottom: 10px;
              .blue {
                font-size: 14px;
                color: #634FFC;
              }
              .gray {
                font-size: 14px;
                color: #7B7B7E;
              }
            }
          }
        }
        .right_contents {
          width: 32%;
          text-align: center;
          align-self: flex-end;
          .mail_btn {
            margin-bottom: 30px;
            .text {
              font-size: 15px;
              margin-bottom: 10px;
            }
            .btn_text {
              width: 300px;
              height: 50px;
              margin: 0 auto;
              font-size: 18px;
              line-height: 50px;
              border: 1px solid #000;
            }
          }
          .approval_btn {
            margin-bottom: 50px;
            .text {
              font-size: 12px;
              margin-bottom: 10px;
            }
            .btn_text {
              width: 400px;
              height: 70px;
              font-size: 20px;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              background-color: #F8F6B9;
              margin: 0 auto;
              span {
                font-size: 16px;
                margin-top: 5px;
              }
            }
          }
          .hidden_btn {
            font-size: 20px;
          }
        }
        .status_box {
          position: absolute;
          top: 0;
          right: 0;
          width: 170px;
          height: 60px;
          line-height: 60px;
          text-align: center;
          color: #fff;
          &.blue {
            background-color: #5136E8;
          }
          &.pink {
            background-color: $red;
          }
        }
      }
    }
  }
}


.btn_links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 50px;
  label {
    width: 100%;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
  }
  .btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    .left_button {
      margin-right: 50px;
      .text {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 15px;
      }
      .btn_text {
        width: 500px;
        height: 86px;
        background-color: #BEB9B9;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 25px;
      }
    }
    .right_button {
      margin-top: 98px;
      .btn_text {
        width: 500px;
        height: 86px;
        background-color: #F0A53E;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 25px;
        margin-bottom: 15px;
        span {
          font-size: 15px;
          margin-top: 10px;
        }
      }
      .main,
      .sub {
        font-size: 15px;
        line-height: 25px;
        color: $red;
      }
    }
  }
}
