.homepage_edit {
  width: 100%;
  &_box {
    width: 100%;
    .box_title {
      width: 100%;
      height: 50px;
      border: 1px solid $brack;
      color: $red;
      font-size: 20px;
      line-height: 50px;
      text-align: center;
      margin-bottom: 50px;
    }
    .box_time {
      display: flex;
      flex-direction: row;
      align-items: center;
      .time_text {
        width: 600px;
        height: 90px;
        line-height: 90px;
        font-size: 20px;
        text-align: center;
        background-color: #E0B3B3;
        margin-right: 100px;
      }
    }
  }
}

.homepage_timebox {
  width: 100%;
  .work_time_box {
    .homepage_work_time,
    .timeline_work_time {
      width: 100%;
      height: 60px;
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: $gray;
      margin-bottom: 30px;
      box-sizing: border-box;
      padding-left: 15px;
      .title {
        width: 250px;
      }
      .time_textbox {
        input {
          width: 100px;
          height: 40px;
          margin: 0 15px;
        }
      }
    }
    .work_day_box {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 30px;
      .title {
        width: 270px;
        height: 100px;
        box-sizing: border-box;
        padding: 0 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        color: $white;
        background-color: $brack;
        line-height: 24px;
      }
      textarea {
        width: 650px;
        height: 94px;
        border: 1px solid $brack;
        resize: none;
      }
    }
    .timeline_plans {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 30px;
      .title {
        width: 270px;
        height: 60px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        color: $white;
        background-color: $brack;
        line-height: 24px;
      }
      select {
        width: 450px;
        height: 60px;
        border: 1px solid $brack;
        border-radius: 0px;
        font-size: 18px;
        background-color: transparent;
      }
      .plans_btn {
        .btn_text {
          width: 300px;
          height: 62px;
          line-height: 60px;
          text-align: center;
          background-color: #F0A53E;
        }
      }
    }
    .work_day_desc,
    .baggage,
    .functions {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      margin-bottom: 30px;
      .reject_btn {
        .btn_text {
          width: 50px;
          height: 58px;
          border: 1px solid $red;
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          color: $red;
        }
      }
      .title {
        width: 220px;
        height: 60px;
        line-height: 24px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        color: $white;
        background-color: $brack;
      }
      .textbox {
        background-color: $gray;
        width: 79%;
        height: 60px;
        display: flex;
        flex-direction: row;
        align-items: center;
        input {
          height: 40px;
          margin: 0 20px;
        }
        select {
          width: 100px;
          height: 40px;
          border: 1px solid $brack;
          border-radius: 0px;
          margin: 0 15px;
          font-size: 18px;
        }
      }
    }
    .photo {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      margin-bottom: 30px;
      .reject_btn {
        .btn_text {
          width: 50px;
          height: 158px;
          border: 1px solid $red;
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: center;
          color: $red;
        }
      }
      .title {
        width: 220px;
        height: 162px;
        line-height: 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        color: $white;
        background-color: $brack;
      }
      .photo_textbox {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .top_area {
          display: flex;
          flex-direction: row;
          align-items: center;
          height: 70px;
          margin-bottom: 20px;
          border: 1px solid $brack;
          .text {
            width: 350px;
            height: 70px;
            line-height: 70px;
            text-align: center;
            border-right: 1px solid $brack;
          }
          select {
            width: 400px;
            height: 70px;
            font-size: 18px;
          }
        }
        .bottom_area {
          display: flex;
          flex-direction: row;
          align-items: center;
          background-color: $gray;
          width: 1027px;
          height: 70px;
          input {
            height: 40px;
            margin: 0 20px;
          }
          select {
            width: 100px;
            height: 40px;
            border: 1px solid $brack;
            border-radius: 0px;
            margin: 0 15px;
            font-size: 18px;
          }
        }
      }
    }
  }
  button {
    width: 650px;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-color: #F0A53E;
    margin: 100px auto 50px;
  }
}
