.template_edit {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 30px 0;
  .timeline,
  .web,
  .reservation_form,
  .mail {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    .edit_title {
      width: 180px;
      height: 65px;
      text-align: center;
      line-height: 65px;
      font-size: 18px;
      font-weight: bold;
      background-color: $table-td-bg;
      margin-right: 20px;
    }
    .edit_btn {
      width: 180px;
      height: 63px;
      border: 1px solid $brack;
      text-align: center;
      line-height: 63px;
      font-size: 14px;
      font-weight: bold;
      color: $orange-btn;
      margin-right: 30px;
      &.last {
        margin-right: 0;
      }
      &.active {
        background-color: #E2B2B2;
        color: $brack;
      }
    }
  }
}
