.mail_page {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  .mail_sidebar {
    width: 200px;
    .logo {
      border: 1px solid $brack;
      width: 100%;
      height: 50px;
      margin-bottom: 20px;
    }
    .create_mail {
      .btn_text {
        width: 100%;
        height: 50px;
        line-height: 50px;
        text-align: center;
        background-color: #F0A53E;
        margin-bottom: 20px;
      }
    }
    .mail_tray {
      width: 100%;
      border: 1px solid $brack;
      margin-bottom: 20px;
      .receive_tray,
      .send_tray,
      .draft_tray,
      .important_tray {
        .btn_text {
          width: 100%;
          height: 70px;
          line-height: 70px;
          box-sizing: border-box;
          padding-left: 20px;
          border-bottom: 1px solid $brack;
        }
      }
      .important_tray {
        .btn_text {
          border-bottom: none;
        }
      }
    }
    .days_all_send {
      width: 100%;
      border: 1px solid $brack;
      margin-bottom: 20px;
      .title {
        width: 100%;
        height: 25px;
        line-height: 25px;
        text-align: center;
        background-color: $brack;
        color: $white;
      }
      .today,
      .tomorrow {
        .btn_text {
          width: 100%;
          height: 70px;
          line-height: 70px;
          box-sizing: border-box;
          padding-left: 20px;
          border-bottom: 1px solid $brack;
        }
      }
      .tomorrow {
        .btn_text {
          border-bottom: none;
        }
      }
    }
    .store_mail {
      width: 100%;
      border: 1px solid $brack;
      margin-bottom: 20px;
      .title {
        width: 100%;
        height: 25px;
        line-height: 25px;
        text-align: center;
        background-color: $brack;
        color: $white;
      }
      .shibuya,
      .shinjuku,
      .esute {
        .btn_text {
          width: 100%;
          height: 70px;
          line-height: 70px;
          box-sizing: border-box;
          padding-left: 20px;
          border-bottom: 1px solid $brack;
        }
      }
      .esute {
        .btn_text {
          border-bottom: none;
        }
      }
    }
    .contact_info {
      width: 100%;
      border: 1px solid $brack;
      margin-bottom: 20px;
      .title {
        width: 100%;
        height: 25px;
        line-height: 25px;
        text-align: center;
        background-color: $brack;
        color: $white;
      }
      .info_btn {
        .btn_text {
          width: 100%;
          height: 70px;
          line-height: 70px;
          box-sizing: border-box;
          padding-left: 20px;
        }
      }
    }
    .template {
      width: 100%;
      border: 1px solid $brack;
      margin-bottom: 20px;
      .title {
        width: 100%;
        height: 25px;
        line-height: 25px;
        text-align: center;
        background-color: $brack;
        color: $white;
      }
      .template_btn {
        .btn_text {
          width: 100%;
          height: 70px;
          line-height: 70px;
          box-sizing: border-box;
          padding-left: 20px;
          color: $red;
        }
      }
    }
  }


  .mail_contents {
    width: 1050px;
    .mail_management {
      .management_tray {
        display: flex;
        flex-direction: row;
        align-items: center;
        input {
          width: 640px;
          height: 50px;
          border: 1px solid $brack;
          box-sizing: border-box;
          padding-left: 20px;
        }
        a {
          border: 1px solid $brack;
          .btn_text {
            width: 90px;
            height: 48px;
            text-align: center;
            font-size: 18px;
            line-height: 48px;
          }
          &.four {
            .btn_text {
              width: 150px;
            }
          }
        }
      }
      .title {
        width: 100%;
        height: 50px;
        background-color: $brack;
        color: $white;
        margin-top: 22px;
        text-align: center;
        font-size: 25px;
        line-height: 50px;
      }
      .reload_tray {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 50px 0;
        &.all_send {
          padding: 20px 0 50px;
        }
        .left_box {
          display: flex;
          flex-direction: row;
          align-items: center;
          .checkbox,
          .left,
          .right {
            width: 100px;
            height: 50px;
            border: 1px solid $brack;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          }
          .right {
            border-left: none;
          }
        }
        .right_box {
          display: flex;
          flex-direction: row;
          align-items: center;
          .pages,
          .middle_left,
          .middle_right,
          .right {
            width: 50px;
            height: 50px;
            border: 1px solid $brack;
            border-left: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          }
          .pages {
            width: 200px;
            border-left: 1px solid $brack;
          }
          .right {
            width: 100px;
            background-color: $orange-btn;
          }
        }
      }
    }
    .mail_tray {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      border: 1px solid $brack;
      .mail_item {
        width: 100%;
        height: 65px;
        display: flex;
        flex-direction: row;
        align-items: center;
        &.gray {
          background-color: $gray;
        }
        &.pink {
          background-color: #E2B2B2;
        }
        &:not(:last-child) {
          border-bottom: 1px solid $brack;
        }
        .check {
          width: 5%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border-right: 1px solid $brack;
        }
        .name {
          width: 20%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          border-right: 1px solid $brack;
        }
        .label {
          width: 10%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          border-right: 1px solid $brack;
          img {
            display:block;
            width: 30%;
            margin: 0 auto;
          }
        }
        .subject {
          width: 50%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          box-sizing: border-box;
          padding-left: 20px;
          border-right: 1px solid $brack;
        }
        .time {
          width: 15%;
          text-align: center;
        }
      }
    }
    .send_desc {
      width: 100%;
      height: 65px;
      border: 1px solid $brack;
      color: $red;
      font-size: 18px;
      line-height: 65px;
      text-align: center;
      margin: 20px 0;
    }
    .create_mail_contents {
      width: 100%;
      border: 1px solid $brack;
      .create_title {
        width: 100%;
        height: 30px;
        background-color: $brack;
        color: $white;
        text-align: center;
        line-height: 30px;
      }
      .create_box {
        width: 100%;
        box-sizing: border-box;
        padding: 30px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        .left {
          .subject {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 30px;
            &_title {
              width: 140px;
              height: 60px;
              background-color: $brack;
              color: $white;
              text-align: center;
              line-height: 60px;
            }
            input {
              width: 500px;
              height: 56px;
              border: 1px solid $brack;
              font-size: 18px;
            }
          }
          .content {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 30px;
            &_title {
              width: 140px;
              height: 230px;
              background-color: $brack;
              color: $white;
              text-align: center;
              line-height: 230px;
            }
            textarea {
              width: 500px;
              height: 224px;
              border: 1px solid $brack;
            }
          }
          button {
            width: 450px;
            height: 60px;
            background-color: $orange-btn;
            text-align: center;
            font-size: 20px;
            line-height: 60px;
          }
        }
        .right {
          width: 320px;
          display: flex;
          flex-direction: column;
          align-items: center;
          border: 1px solid $brack;
          &_title {
            width: 100%;
            height: 50px;
            background-color: $brack;
            color: $white;
            text-align: center;
            line-height: 50px;
          }
          .cast {
            width: 100%;
            height: 50px;
            text-align: center;
            line-height: 50px;
            border-top: 1px solid $brack;
          }
          &_box_area {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            flex-wrap: wrap;
            .box {
              box-sizing: border-box;
              width: 50%;
              height: 50px;
              border-top: 1px solid $brack;
              &:nth-child(odd) {
                border-right: 1px solid $brack;
              }
            }
          }
        }
      }
    }
  }
}
