.contact_book_edit {
  width: 100%;
  border: 1px solid $brack;
  box-sizing: border-box;
  padding: 20px;
  .edit_area {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    .photo_area {
      width: 300px;
      border: 1px solid $brack;
      box-sizing: border-box;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .photo_img {
        width: 100%;
        margin-bottom: 30px;
      }
      .photo_button {
        width: 200px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        background-color: $orange-btn;
      }
    }
    .input_area {
      .input_title {
        width: 200px;
        padding-bottom: 10px;
        border-bottom: 1px solid $brack;
        text-align: right;
        margin-right: 15px;
      }
      input,
      select {
        width: 450px;
        height: 50px;
        border: 1px solid $brack;
        border-radius: 0px;
        background-color: transparent;
        font-size: 20px;
      }
      .name,
      .store,
      .mail,
      .tel_number,
      .address {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        margin-bottom: 80px;
        position: relative;
        .add_btn {
          position: absolute;
          bottom: -20px;
          left: 220px;
          color: $orange;
        }
      }
    }
  }
  .memo_area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 50px;
    .memo_title {
      width: 220px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      border: 1px solid $brack;
      border-bottom: none;
    }
    textarea {
      width: 100%;
      height: 425px;
      border: 1px solid $brack;
    }
  }
  .cast_infomation_area {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 50px;
    .cast_info_title {
      width: 200px;
      border-bottom: 1px solid $brack;
      padding-bottom: 10px;
      text-align: center;
      margin-right: 20px;
    }
    .cast_info_name {
      width: 400px;
      border-bottom: 1px solid $brack;
      padding-bottom: 10px;
      text-align: center;
      margin-right: 100px;
    }
    .cast_info_btn {
      width: 280px;
      height: 50px;
      background-color: $table-td-bg;
      font-size: 14px;
      line-height: 50px;
      text-align: center;
    }
  }
}
