.money_03_01 {
  width: 100%;
  &_list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 40px;
    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 40px;
      &:not(:last-child) {
        margin-bottom: 20px;
      }
      .title {
        width: 300px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        background-color: #696969;
        color: #fff;
      }
      p {
        width: 600px;
        height: 40px;
        line-height: 40px;
        border: 1px solid #000;
        border-left: none;
        input {
          margin: 0 15px;
        }
        label {
          font-size: 14px;
        }
      }
      select {
        height: 42px;
        width: 600px;
        font-size: 18px;
        border: 1px solid #000;
        border-radius: 0;
        border-left: none;
      }
    }
  }
  &_txt {
    width: 100%;
    height: 40px;
    border: 1px solid #000;
    box-sizing: border-box;
    padding-left: 20px;
    margin-bottom: 20px;
    a {
      color: orange;
      line-height: 40px;
    }
  }
  table {
    border: 1px solid #000;
    width: 100%;
    border: 1px solid #000;
    margin-bottom: 30px;
    tr {
      display: flex;
      flex-direction: row;
      align-items: center;
      &:not(:last-child) {
        border-bottom: 1px solid #000;
      }
      th {
        display: block;
        height: 40px;
        background-color: #696969;
        color: #fff;
        p {
          line-height: 40px;
        }
        &:not(:last-child) {
          border-right: 1px solid #000;
        }
        &:first-child {
          width: 20%;
        }
        &:nth-child(2) {
          width: 50%;
        }
        &:last-child {
          width: 30%;
        }
      }
      td {
        display: block;
        box-sizing: border-box;
        padding-left: 10px;
        p {
          line-height: 60px;
        }
        &:first-child {
          width: 20%;
        }
        &:nth-child(2) {
          width: 50%;
          p {
            line-height: 30px;
          }
        }
        &:last-child {
          width: 30%;
          p {
            line-height: 30px;
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
          }
          a {
            color: orange;
          }
        }
        &:not(:last-child) {
          border-right: 1px solid #000;
        }
      }
    }
  }
  &_txt_sub {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .select_box {
    width: 100%;
    border: 1px solid #000;
    box-sizing: border-box;
    padding: 0 15px 30px;
    margin-bottom: 30px;
    .title {
      width: 100%;
      height: 40px;
      line-height: 40px;
      input {
        margin: 0 5px;
      }
    }
    .money_03_01_select {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 90%;
      li {
        width: 22%;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        input {
          margin: 0 15px;
        }
      }
      &::after {
        content:"";
        display: block;
        width:22%;
        order: 1;
      }
    }
  }
  &_txt_gray {
    width: 95%;
    height: 40px;
    background-color: #d3d3d3;
    margin: 0 auto 20px;
    line-height: 40px;
    text-align: center;
  }
  .ck_box {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    .left,
    .right {
      width: 40%;
      height: 35px;
      line-height: 35px;
      border: 1px solid #000;
      input {
        margin: 0 20px;
        margin-right: 150px;
      }
    }
  }
  .mt_box {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
    li {
      width: 23%;
      ¥height: 40px;
      line-height: 40px;
      border: 1px solid #000;
      text-align: center;
      &:nth-child(-n + 8) {
        margin-bottom: 20px;
      }
      &:first-child {
        background-color: #ffc0cb;
      }
    }
  }
  .op_box {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    .left,
    .right {
      width: 48%;
      .op_box_txt {
        font-size: 12px;
        margin-bottom: 5px;
      }
      .ck {
        border: 1px solid #000;
        height: 30px;
        line-height: 30px;
        input {
          margin: 0 20px;
        }
      }
    }
    .left {
      .ck {
        width: 100%;
      }
    }
    .right {
      .ck_wrap {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .ck {
          width: 45%;
        }
      }
    }
  }
  button {
    display: block;
    width: 300px;
    height: 40px;
    line-height: 40px;
    background-color: orange;
    border: 1px solid #000;
    margin-left: auto;
    margin-bottom: 5px;
  }
  .button_txt {
    width: 100%;
    text-align: right;
    font-size: 12px;
  }
  .on_click {
    margin: 50px 0;
    box-sizing: border-box;
    padding: 50px 30px;
    border: 1px solid red;
    .days_list {
      width: 90%;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 50px;
      .year,
      .month,
      .days {
        width: 25%;
        display: flex;
        flex-direction: row;
        align-items: center;
        select {
          width: 200px;
          height: 40px;
          line-height: 40px;
          border: 1px solid #000;
          border-radius: 0;
          background-color: transparent;
          font-size: 18px;
        }
        label {
          display: block;
          background-color: #d3d3d3;
          width: 50px;
          height: 40px;
          line-height: 40px;
          text-align: center;
        }
      }
    }
  }
}
