.money_01_01,
.money_01_02,
.money_01_03 {
  width: 100%;
  margin-bottom: 50px;
}

.money_01_01 {
  &_txt {
    font-size: 14px;
    margin: 30px 0;
  }
  &_list {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    li {
      width: 22%;
      height: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 1px solid #000;
      font-size: 14px;
      &:nth-child(-n + 8) {
        margin-bottom: 20px;
      }
    }
    &::after {
      content:"";
      display: block;
      width:22%;
      order: 1;
    }
  }
}

.money_01_02 {
  &_txt {
    font-size: 14px;
    margin: 30px 0;
  }
  .setting_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    p,
    a {
      border: 1px solid #000;
      height: 40px;
      line-height: 40px;
      box-sizing: border-box;
      padding: 0 15px;
    }
    a {
      background-color: #d3d3d3;
    }
    .arrow_box {
      border-top: 1px solid #000;
      border-bottom: 1px solid #000;
      p {
        border: none;
        padding: 0 5px;
        height: 19px;
        line-height: 19px;
        font-size: 12px;
      }
    }
  }
  table {
    width: 100%;
    border: 1px solid #000;
    margin-bottom: 20px;
    tr {
      width: 100%;
      height: 30px;
      line-height: 30px;
      &:nth-child(-n + 2) {
        border-bottom: 1px solid #000;
      }
      th {
        &:nth-child(1) {
          width: 5%;
        }
        &:nth-child(2) {
          width: 25%;
        }
        &:nth-child(3) {
          width: 50%;
        }
        &:nth-child(4) {
          width: 10%;
        }
        &:not(:last-child) {
          border-right: 1px solid #000;
        }
        &:not(:first-child) {
          background-color: #696969;
          color: #fff;
        }
      }
      td {
        text-align: center;
        height: 40px;
        line-height: 40px;
        &:nth-child(1) {
          width: 5%;
        }
        &:nth-child(2) {
          width: 25%;
        }
        &:nth-child(3) {
          width: 50%;
        }
        &:nth-child(4) {
          width: 10%;
        }
        &:not(:last-child) {
          border-right: 1px solid #000;
        }
        &:last-child {
          a {
            color: orange;
          }
        }
      }
    }
  }
  .links_box {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .left,
    .right {
      width: 48%;
      border: 1px solid #000;
      .title {
        border-bottom: 1px solid #000;
        display: flex;
        flex-direction: row;
        align-items: center;
        p {
          width: 60%;
          height: 40px;
          line-height: 40px;
          box-sizing: border-box;
          padding-left: 30px;
        }
        a {
          width: 40%;
          height: 40px;
          line-height: 40px;
          text-align: center;
          background-color: #d3d3d3;
          color: orange;
        }
      }
      .content {
        box-sizing: border-box;
        padding: 20px 5px;
        p {
          font-size: 14px;
          margin-bottom: 20px;
        }
        a {
          display: block;
          margin: 0 auto;
          width: 50%;
          height: 40px;
          line-height: 40px;
          background-color: orange;
          text-align: center;
        }
      }
    }
    .left {
      .title {
        p {
          background-color: #00fa9a;
        }
      }
    }
    .right {
      .title {
        p {
          background-color: #00bfff;
        }
      }
    }
  }
}

.money_01_03 {
  &_txt {
    width: 100%;
    height: 40px;
    border: 1px solid #000;
    box-sizing: border-box;
    padding-left: 20px;
    margin-bottom: 20px;
    a {
      color: orange;
      line-height: 40px;
    }
  }
  table {
    border: 1px solid #000;
    width: 100%;
    border: 1px solid #000;
    tr {
      display: flex;
      flex-direction: row;
      align-items: center;
      &:not(:last-child) {
        border-bottom: 1px solid #000;
      }
      th {
        display: block;
        height: 40px;
        background-color: #696969;
        color: #fff;
        p {
          line-height: 40px;
        }
        &:not(:last-child) {
          border-right: 1px solid #000;
        }
        &:first-child {
          width: 20%;
        }
        &:nth-child(2) {
          width: 50%;
        }
        &:last-child {
          width: 30%;
        }
      }
      td {
        display: block;
        box-sizing: border-box;
        padding-left: 10px;
        p {
          line-height: 60px;
        }
        &:first-child {
          width: 20%;
        }
        &:nth-child(2) {
          width: 50%;
          p {
            line-height: 30px;
          }
        }
        &:last-child {
          width: 30%;
          p {
            line-height: 30px;
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
          }
          a {
            color: orange;
          }
        }
        &:not(:last-child) {
          border-right: 1px solid #000;
        }
      }
    }
  }
}
