.money_02_01,
.money_02_02{
  width: 100%;
  margin-bottom: 50px;
}
.money_02_01 {
  &_list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 40px;
    li {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 40px;
      &:not(:last-child) {
        margin-bottom: 20px;
      }
      .title {
        width: 300px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        background-color: #696969;
        color: #fff;
      }
      p {
        width: 600px;
        height: 40px;
        line-height: 40px;
        border: 1px solid #000;
        border-left: none;
        input {
          margin: 0 15px;
        }
        label {
          font-size: 14px;
        }
      }
      select {
        height: 42px;
        width: 600px;
        font-size: 18px;
        border: 1px solid #000;
        border-radius: 0;
        border-left: none;
      }
    }
  }
  &_txt {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .select_box {
    width: 100%;
    border: 1px solid #000;
    box-sizing: border-box;
    padding: 0 15px 30px;
    margin-bottom: 30px;
    .title {
      width: 100%;
      height: 40px;
      line-height: 40px;
      input {
        margin: 0 5px;
      }
    }
    .money_02_01_select {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 90%;
      li {
        width: 22%;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        input {
          margin: 0 15px;
        }
      }
      &::after {
        content:"";
        display: block;
        width:22%;
        order: 1;
      }
    }
  }
  .money_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    margin-bottom: 50px;
    p {
      width: 200px;
      height: 40px;
      line-height: 40px;
      background-color: #696969;
      color: #fff;
      text-align: center;
    }
    input {
      box-sizing: border-box;
      width: 300px;
      height: 40px;
      border: 1px solid #000;
    }
    label {
      width: 50px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      background-color: #d3d3d3;
    }
  }
  button {
    display: block;
    width: 400px;
    height: 40px;
    line-height: 40px;
    background-color: orange;
    border: 1px solid #000;
    margin-left: auto;
  }
}

.money_02_02 {
  &_txt {
    font-size: 14px;
    margin: 30px 0;
  }
  .setting_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    p,
    a {
      border: 1px solid #000;
      height: 40px;
      line-height: 40px;
      box-sizing: border-box;
      padding: 0 15px;
    }
    a {
      background-color: #d3d3d3;
    }
    .arrow_box {
      border-top: 1px solid #000;
      border-bottom: 1px solid #000;
      p {
        border: none;
        padding: 0 5px;
        height: 19px;
        line-height: 19px;
        font-size: 12px;
      }
    }
  }
  table {
    width: 100%;
    border: 1px solid #000;
    margin-bottom: 20px;
    tr {
      width: 100%;
      height: 30px;
      line-height: 30px;
      &:nth-child(-n + 2) {
        border-bottom: 1px solid #000;
      }
      th {
        &:nth-child(1) {
          width: 5%;
        }
        &:nth-child(2) {
          width: 25%;
        }
        &:nth-child(3) {
          width: 50%;
        }
        &:nth-child(4) {
          width: 10%;
        }
        &:not(:last-child) {
          border-right: 1px solid #000;
        }
        &:not(:first-child) {
          background-color: #696969;
          color: #fff;
        }
      }
      td {
        text-align: center;
        height: 40px;
        line-height: 40px;
        &:nth-child(1) {
          width: 5%;
        }
        &:nth-child(2) {
          width: 25%;
        }
        &:nth-child(3) {
          width: 50%;
        }
        &:nth-child(4) {
          width: 10%;
        }
        &:not(:last-child) {
          border-right: 1px solid #000;
        }
        &:last-child {
          a {
            color: orange;
          }
        }
      }
    }
  }
}
