.now_pickup_work {
  width: 100%;
  .top_area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    .title {
      font-size: 25px;
    }
    a {
      .button_text {
        width: 200px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        background-color: #EAEAEA;
      }
    }
  }
  .now_pickup_work_box {
    width: 100%;
    border: 1px solid $brack;
    box-sizing: border-box;
    padding: 50px 0;
    .text {
      margin-left: 5%;
      margin-bottom: 15px;
      &.bottom {
        margin-bottom: 30px;
      }
    }
    .sub_text {
      margin-left: 5%;
      color: $red;
    }
    .now_pickup_img_list {
      width: 90%;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 50px;
      .now_pickup_img_item {
        width: 20%;
        text-align: center;
        margin-right: 6%;
        border: 1px solid $brack;
        box-sizing: border-box;
        padding: 20px 10px;
        img {
          width: 80%;
          margin: 20px auto;
          height: 200px;
        }
        .link_text {
          width: 80%;
          height: 30px;
          font-size: 14px;
          margin: 0 auto;
          text-align: center;
          line-height: 30px;
          background-color: #D1596B;
          margin-bottom: 20px;
        }
        .reset_btn_text {
          width: 50%;
          height: 30px;
          font-size: 14px;
          margin: 0 auto;
          text-align: center;
          line-height: 30px;
          background-color: #ADADAD;
          margin-bottom: 20px;
        }
        &:nth-child(4),
        &:nth-child(8),
        &:nth-child(12),
        &:nth-child(16),
        &:nth-child(20),
        &:nth-child(24),
        &:nth-child(28),
        &:nth-child(32) {
          margin-right: 0;
        }
        &:nth-child(n + 4) {
          margin-bottom: 50px;
        }
        .more {
          display: block;
          width: 100%;
          height: 30px;
          line-height: 30px;
          background-color: #EAEAEA;
          margin-top: 20px;
        }
      }
    }
  }
}
.return_btn_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  .btn_text {
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &.left {
      width: 300px;
      background-color: $orange;
    }
    &.right {
      width: 200px;
      background-color: #EAEAEA;
    }
  }
}
