.profile {
  width: 100%;
  .setting_are {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    .cast_serch_area {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .direct_shift_serach {
        margin-bottom: 15px;
      }
      .serch_box {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 40px;
        .text {
          margin-right: 15px;
        }
        input {
          border: 1px solid $brack;
          width: 350px;
          height: 40px;
        }
        button {
          border: 1px solid $brack;
          border-left: none;
          width: 110px;
          height: 44px;
          background-color: $orange;
          font-size: 16px;
        }
      }
      .search_results {
        width: 85%;
        margin: 0 auto;
        .results_text {
          margin-bottom: 10px;
        }
        .results_list {
          width: 95%;
          margin: 0 auto;
          margin-bottom: 15px;
          .resultts_item {
            width: 100%;
            font-size: 16px;
            line-height: 30px;
            &.gray {
              background-color: $gray;
            }
          }
        }
      }
    }
  }
}

.profile_work {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .top_area {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    .title {
      font-size: 25px;
    }
    .btn_box {
      display: flex;
      flex-direction: row;
      align-items: center;
      a {
        .button_text {
          width: 200px;
          height: 50px;
          text-align: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          span {
            font-size: 12px;
            margin-top: 5px;
          }
        }
      }
      .left {
        margin-right: 20px;
        text-align: center;
        background-color: #EAEAEA;
      }
      .right {
        background-color: #F2CB96;
      }
    }
  }
  .profile_box {
    width: 100%;
    border: 1px solid $brack;
    box-sizing: border-box;
    padding: 50px 0;
    .day_box {
      width: 90%;
      margin: 0 auto;
      .text {
        margin-bottom: 20px;
      }
      .days_list {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 50px;
        .day {
          width: 20%;
        }
      }
    }
    .profile_img_list {
      width: 90%;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      flex-wrap: wrap;
      justify-content: space-between;
      .profile_img_item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20%;
        margin-right: 6%;
        border: 1px solid $brack;
        box-sizing: border-box;
        padding: 20px 10px;
        img {
          width: 80%;
          margin: 20px auto 0;
          height: 200px;
        }
        .link {
          width: 80%;
          height: 30px;
          margin: 0 auto;
          text-align: center;
          line-height: 30px;
          background-color: $orange;
          margin-bottom: 20px;
        }
        &:nth-child(4),
        &:nth-child(8),
        &:nth-child(12),
        &:nth-child(16),
        &:nth-child(20),
        &:nth-child(24),
        &:nth-child(28),
        &:nth-child(32) {
          margin-right: 0;
        }
        &:nth-child(n + 4) {
          margin-bottom: 50px;
        }
        .more {
          display: block;
          width: 100%;
          height: 30px;
          line-height: 30px;
          background-color: #EAEAEA;
          margin-top: 20px;
        }
      }
    }
  }
}
