.shift_management {
  width: 100%;
  .castname_box {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto 30px;
    .cast_name,
    .cast_lank,
    .cast_time {
      width: 30%;
      border: 1px solid $brack;
      .title {
        height: 20px;
        width: 100%;
        text-align: center;
        line-height: 20px;
        background-color: #000;
        color: $white;
      }
      .text {
        height: 45px;
        line-height: 45px;
        font-size: 20px;
        text-align: center;
      }
    }
  }
  .desc_text {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid $brack;
    box-sizing: border-box;
    padding: 20px 0;
    line-height: 24px;
    color: $red;
  }
}

.shift_processing {
  width: 100%;
  .shift_management_box {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .shift_management_item {
      width: 100%;
      border: 1px solid $brack;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: relative;
      &:not(:last-child) {
        margin-bottom: 50px;
      }
      .item_title {
        height: 50px;
        line-height: 50px;
        border-right: 1px solid $brack;
        border-bottom: 1px solid $brack;
        padding: 0 15px;
        margin-bottom: 20px;
        input {
          margin-right: 30px;
        }
      }
      .item_time {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 0 40px;
        margin-bottom: 20px;
        .text {
          width: 600px;
          height: 90px;
          line-height: 90px;
          font-size: 20px;
          text-align: center;
          background-color: #E0B3B3;
        }
        .item_sub_btn {
          .btn_text {
            width: 300px;
            height: 60px;
            line-height: 60px;
            text-align: center;
            background-color: #F0A53E;
          }
        }
      }
      .item_desc {
        box-sizing: border-box;
        padding: 0 40px;
        margin-bottom: 30px;
      }
      .item_main_btn {
        display: block;
        margin: 0 auto;
        .btn_text {
          width: 650px;
          height: 60px;
          line-height: 60px;
          text-align: center;
          font-size: 18px;
          background-color: $gray;
          margin-bottom: 30px;
        }
      }
      .item_btn_wrap {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
        a {
          .btn_text {
            width: 250px;
            height: 60px;
            line-height: 60px;
            background-color: #F7B1B1;
            color: #fff;
            text-align: center;
          }
          &.right {
            .btn_text {
              width: 350px;
              background-color: #E6C392;
              color: $brack;
            }
          }
        }
      }
      .item_status {
        color: $white;
        position: absolute;
        top: 0;
        right: 0;
        width: 110px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        &.blue {
          background-color: #2119E5;
        }
        &.red {
          background-color: $red;
        }
      }
    }
  }
}
