.shift_reject {
  width: 100%;
  margin-bottom: 150px;
  &_box {
    width: 100%;
    .box_title {
      width: 100%;
      height: 50px;
      border: 1px solid $brack;
      color: $red;
      font-size: 20px;
      line-height: 50px;
      text-align: center;
      margin-bottom: 50px;
    }
    .box_time {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 50px;
      .time_text {
        width: 600px;
        height: 90px;
        line-height: 90px;
        font-size: 20px;
        text-align: center;
        background-color: #E0B3B3;
        margin-right: 100px;
      }
    }
    .box_desc {
      width: 90%;
      margin: 0 auto;
      text-align: center;
      border: 1px solid $brack;
      font-size: 18px;
      line-height: 30px;
      color: $red;
      margin-bottom: 50px;
    }
    .cast_info_box {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .check {
        display: flex;
        flex-direction: row;
        align-items: center;
        border: 1px solid $brack;
        margin-bottom: 20px;
        .title {
          width: 300px;
          height: 60px;
          line-height: 60px;
          text-align: center;
          color: $white;
          background-color: $brack;
        }
        .mail,
        .tel {
          width: 300px;
          height: 60px;
          line-height: 60px;
          text-align: center;
          input {
            margin-right: 30px;
          }
        }
        .tel {
          border-left: 1px solid $brack;
        }
      }
      .textbox {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin-bottom: 50px;
        .title {
          width: 300px;
          height: 200px;
          line-height: 200px;
          text-align: center;
          color: $white;
          background-color: $brack;
        }
        textarea {
          border: 1px solid $brack;
          width: 596px;
          height: 194px;
          resize: none;
        }
      }
    }
    .btn_box {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .mail_btn {
        .btn_text {
          width: 300px;
          height: 60px;
          line-height: 60px;
          text-align: center;
          background-color: $gray;
        }
      }
      button {
        width: 350px;
        height: 60px;
        line-height: 60px;
        font-size: 16px;
        text-align: center;
        background-color: #F0A53E;
      }
    }
  }
}
