.sokuhime_contents {
  width: 100%;
  margin-bottom: 50px;
  .contents_main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    &_text {
      font-size: 20px;
    }
  }
  .contents_list {
    width: 100%;
    border: 1px solid #000;
    box-sizing: border-box;
    padding: 20px 20px 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
    &_title {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    &_box {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      margin-bottom: 50px;
      .contents_list_desc {
        font-size: 14px;
        line-height: 20px;
        span {
          display: block;
          margin-top: 20px;
          color: $red;
        }
      }
      .btn_box {
        margin-left: 40px;
        &_text {
          font-size: 14px;
        }
        .conf_btn {
          width: 300px;
          height: 50px;
          font-size: 18px;
          text-align: center;
          font-weight: bold;
          line-height: 50px;
          border: 1px solid #000;
          background-color: $orange;
          margin-top: 10px;
        }
      }
    }
    .cast_list {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-bottom: 70px;
      .cast_item {
        width: 21%;
        border: 1px solid #000;
        text-align: center;
        margin: 0 2%;
        box-sizing: border-box;
        padding: 20px 0;
        &:nth-child(-n + 8) {
          margin-bottom: 3%;
        }
        .name {
          font-size: 20px;
          margin-bottom: 20px;
        }
        .img {
          width: 90%;
          margin-bottom: 20px;
        }
        .time {
          margin-bottom: 30px;
        }
        .title {
          font-size: 20px;
          margin-bottom: 10px;
        }
        .item_list {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          flex-wrap: wrap;
          width: 90%;
          margin: 0 auto 30px;
          &_box {
            width: 49%;
            border: 1px solid #000;
            line-height: 30px;
            &.current {
              background-color: $pink;
            }
          }
        }
        .next_text {
          font-size: 20px;
          margin-bottom: 10px;
        }
        .next_form {
          input {
            border: 1px solid #000;
            width: 20%;
            height: 20px;
            margin-right: 5px;
            &.button {
              width: 20%;
              height: 30px;
              line-height: 30px;
            }
          }
        }
      }
    }
    .contents_sub {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      margin-left: auto;
      margin-right: 30px;
      &_text {
        font-size: 18px;
        margin-right: 50px;
      }
      .conf_btn {
        width: 300px;
        height: 50px;
        font-size: 18px;
        text-align: center;
        font-weight: bold;
        line-height: 50px;
        border: 1px solid #000;
        background-color: $orange;
        margin-top: 10px;
      }
    }
  }
  .sokuhime_btn {
    width: 200px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border: 1px solid #000;
    background-color: $table-td-bg;
  }
}
