.wait_cast {
  width: 100%;
}
.wait_cast_box,
.profile_area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .box_title {
    font-size: 14px;
  }
  .box_list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    margin: 0 auto;
    .box_item {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      .number {
        width: 120px;
        height: 50px;
        text-align: center;
        background-color: #ACA9A9;
        line-height: 50px;
      }
      .textbox {
        width: 100%;
        border: 1px solid $brack;
        border-left: none;
        height: 48px;
        display: flex;
        flex-direction: row;
        align-items: center;
        box-sizing: border-box;
        padding-left: 10px;
        .left {
          border-right: 1px solid $brack;
          padding-right: 20px;
          margin-right: 20px;
        }
        .center {
          display: flex;
          flex-direction: row;
          align-items: center;
          &:after {
            content: "";
            display: flex;
            width: 3px;
            height: 1px;
            background-color: $brack;
            transform: rotate(-60deg);
            padding-right: 20px;
            margin-right: 5px;
          }
        }
        .link {
          font-weight: bold;
        }
      }
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
  .title {
    margin-bottom: 30px;
  }
}

.cast_registration {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .registation_text {
    width: 100%;
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
    span {
      color: $orange;
    }
  }
  .registation_timebox {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
    .title {
      width: 380px;
      height: 50px;
      background-color: #ACA9A9;
      line-height: 50px;
      box-sizing: border-box;
      padding-left: 30px;
    }
    input {
      border: 1px solid $brack;
      height: 45px;
      margin: 0 30px;
      &.years {
        border-left: none;
        margin-left: 0;
      }
    }
  }
  .registation_checkbox {
    width: 100%;
    .text_area {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 50px;
      .left {
        font-weight: bold;
      }
    }
    .check_list {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      flex-wrap: wrap;
      width: 90%;
      margin: 0 auto;
      margin-bottom: 50px;
      .check_item {
        width: 25%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        &:nth-child(n + 4) {
          margin-bottom: 20px;
        }
      }
    }
  }
  .registatioin_textbox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .textbox_list {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      &.top {
        margin-bottom: 20px;
      }
      &.bottom {
        margin-bottom: 50px;
      }
      .textbox_item {
        display: flex;
        flex-direction: row;
        align-items: center;
        span {
          margin-right: 20px;
        }
        .item_title {
          display: block;
          width: 380px;
          height: 50px;
          line-height: 50px;
          box-sizing: border-box;
          padding-left: 30px;
          background-color: #ACA9A9;
        }
        .item_subtitle {
          margin-left: 10px;
        }
        input {
          height: 45px;
          border: 1px solid $brack;
          &.main {
            border-left: none;
            width: 600px;
          }
          &.sub {
            width: 80px;
            margin: 0 10px;
            &.none {
              border-left: none;
              margin-left: 0;
            }
          }
          &.file {
            border: none;
            width: 250px;
            height: 50px;
          }
          &.long {
            width: 900px;
          }
          &.check {
            width: 20px;
            margin-right: 10px;
          }
        }
        select {
          height: 50px;
          width: 500px;
          border: 1px solid $brack;
          border-left: none;
          border-radius: 0;
          font-size: 16px;
        }
        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }
    .list_title {
      margin-bottom: 20px;
      font-weight: bold;
    }
  }
}

.registation_cast {
  width: 100%;
  margin-bottom: 30px;
  &_title {
    color: #F556C4;
    margin-bottom: 10px;
  }
  .inventory_registration {
    width: 90%;
    border: 1px solid #F556C4;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    &_item {
      width: 16.5%;
      box-sizing: border-box;
      padding: 20px 0;
      border-right: 1px solid #F556C4;
      .item_title {
        margin-bottom: 10px;
        text-align: center;
      }
      .title_box {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 10px;
      }
      .inner_list {
        .inner_item {
          display: flex;
          flex-direction: row;
          align-items: center;
          .left {
            width: 40%;
            text-align: center;
            background-color: #ADAAAA;
            height: 30px;
            line-height: 30px;
          }
          .right {
            width: 60%;
            text-align: center;
            border-top: 1px solid #ADAAAA;
            height: 28px;
            line-height: 30px;
            &.last {
              border-bottom: 1px solid #ADAAAA;
            }
          }
        }
      }
    }
  }
}

.wait_cast_btn {
  display: block;
  width: 1080px;
  height: 100px;
  line-height: 100px;
  background-color: #F0A53E;
  text-align: center;
  font-size: 30px;
  margin: 0 auto;
  margin-bottom: 50px;
}
