.login_headding {
  width: 100%;
  height: 50px;
  font-size: 25px;
  line-height: 50px;
  text-align: center;
  background-color: $brack;
  color: $white;
}

.top_page_headding {
  display: inline-block;
}


.shop_headding {
  display: inline-block;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 10px;
  width: 43%;
}

.shift_headding {
  font-size: 18px;
  margin-bottom: 10px;
  line-height: 25px;
  width: 54.8%;
  display: inline-block;
  vertical-align: bottom;

  span {
    font-size: 12px;
    margin-left: 5px;
  }
}

.btn_contents_headding {
  display: inline-block;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 10px;
  &.long{
    margin-bottom: 50px;
  }
}

.table_headding {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  line-height: 25px;

  &_main {
    font-size: 18px;
    margin-bottom: 10px;
  }
  &_sub {
    font-size: 12px;
    margin-left: 5px;
  }

  &_link {
    font-size: 15px;
    margin-bottom: 10px;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 10px;
  }
}

.news-page_headding {
  font-size: 18px;
  box-sizing: border-box;
  height: 50px;
  width: 100%;
  line-height: 50px;
  background-color: $headding-bg;
  padding-left: 15px;
  color: $white;
}

.shift_approval_headding {
  font-size: 18px;
  box-sizing: border-box;
  height: 50px;
  width: 100%;
  line-height: 50px;
  background-color: $headding-bg;
  padding-left: 15px;
  color: $white;
  margin-bottom: 30px;
}
