.login_contents {
  width: 800px;
  height: 500px;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  border: solid 1px $brack;
  box-sizing: border-box;

  .login_form {
    width: 600px;
    height: 300px;
    margin: auto;
    margin-top: 50px;

    .label {
      display: block;
      text-align: center;
      width: 100%;
      height: 30px;
      line-height: 30px;
      background-color: $gray;
      border-bottom: solid 1px $brack;
    }
    .box {
      box-sizing: border-box;
      width: 100%;
      height: 50px;
      font-size: 20px;
      padding-left: 5px;
      border: none;
    }

    &_id,
    &_pass {
      border: solid 1px $brack;
      margin-bottom: 5px;
    }

    &_pass {
      margin-top: 40px;
    }
  }
}
